:root {
	--kuro-red-normal: #D23E08;
	--kuro-red-light: #FFB7B7;
	--kuro-red-dark: #B66056;
	--kuro-green-normal: #54CA74;
	--kuro-green-light: #C1FFAE;
	--kuro-green-dark: #85B1A9;
	--kuro-blue-normal: #2AB9FF;
	--kuro-blue-light: #A1D9FF;
	--kuro-blue-dark: #6890D7;
	--kuro-cyan-normal: #1EF9F5;
	--kuro-cyan-light: #8EFFF3;
	--kuro-cyan-dark: #60BEBE;
	--kuro-magenta-normal: #FF50DA;
	--kuro-magenta-light: #FFA2ED;
	--kuro-magenta-dark: #CC83BD;
	--kuro-yellow-normal: #FFF700;
	--kuro-yellow-light: #FCFFB8;
	--kuro-yellow-dark: #DBBB43;
	--kuro-black-normal: #333333;
	--kuro-black-light: #515151;
	--kuro-black-dark: #141515;
	--kuro-white-normal: #DDD0C4;
	--kuro-white-light: #FFFFFF;
	--kuro-white-dark: #94959B;
	--kuro-purple-normal: #9E60EC;
	--kuro-purple-light: #A994FF;
	--kuro-purple-dark: #887AA3;
	--kuro-orange-normal: #E59605;
	--kuro-orange-light: #FFC663;
	--kuro-orange-dark: #AB7B4E;
	--kuro-brown-normal: #9D5918;
	--kuro-brown-light: #F9CFB9;
	--kuro-brown-dark: #837369;
}

body {
	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 16px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
	--font-text-theme: Atkinson Hyperlegible, serif;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-dark {
	--background-primary: var(--kuro-black-dark);
	--background-secondary: var(--kuro-black-normal);
	--background-secondary: #212121;
}

/* Headers */

.markdown-preview-view h1,
.cm-header-1 {
	color: var(--kuro-white-dark);
}

.markdown-preview-view h2,
.cm-header-2 {
	color: var(--kuro-cyan-dark);
}

.markdown-preview-view h3,
.cm-header-3 {
	color: var(--kuro-magenta-dark);
}

.markdown-preview-view h4,
.cm-header-4 {
	color: var(--kuro-yellow-dark);
}


.markdown-preview-view h5,
.cm-header-5 {
	color: var(--kuro-red-dark);
}

.markdown-preview-view h6,
.cm-header-6 {
	color: var(--kuro-blue-dark);
}

.markdown-preview-view h1,
.cm-header-1,
.markdown-preview-view h2,
.cm-header-2,
.markdown-preview-view h3,
.cm-header-3,
.markdown-preview-view h4,
.cm-header-4,
.markdown-preview-view h5,
.cm-header-5,
.markdown-preview-view h6,
.cm-header-6 {
	font-weight: bold !important;
	text-decoration: underline;
}

/* CODEBLOCK */

code {
	background-color: var(--kuro-black-dark);
	color: var(--kuro-white-normal) !important;
}

.cm-inline-code {
	background-color: var(--kuro-black-normal) !important;
	color: var(--kuro-yellow-dark) !important;
	font-weight: 600;
	bottom: 0px !important;
}

.cm-hmd-codeblock {
	color: var(--kuro-white-normal);
}

.cm-hmd-codeblock.cm-keyword,
.token.keyword {
	color: var(--kuro-blue-dark);
	font-style: italic;
}

/* Defintions */
.cm-def.cm-hmd-codeblock,
.token.atrule,
.token.attr-value,
.token.builtin,
.token.function,
.token.class-name,
.token.function {
	color: var(--kuro-yellow-dark);
	font-weight: bold;
}

.cm-link,
.cm-variable,
.cm-variable-2,
.cm-variable-3,
.cm-hmd-codeblock.cm-variable,
.token.entity,
.token.parameter,
.token.property,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--kuro-magenta-dark);
	font-weight: bold;
}


.cm-hmd-codeblock.cm-operator,
.token.operator {
	color: var(--kuro-white-dark);
}

.cm-hmd-codeblock.cm-number,
.token.number {
	color: var(--kuro-cyan-dark);
	font-weight: bold;
	font-style: italic;
}

.cm-builtin.cm-hmd-codeblock,
.token.constant,
.token.boolean,
.token.builtin {
	color: var(--kuro-blue-normal);
	font-weight: 900;
}

.cm-hmd-codeblock.cm-string,
.token.string {
	color: var(--kuro-green-dark);
}

.cm-hmd-codeblock.cm-comment,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--kuro-yellow-light);
	opacity: 0.5;
}